.stAppViewContainer {
    background-image: url("https://images.unsplash.com/photo-1732979887702-40baea1c1ff6?q=80&w=2832&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    color: black;
}

.stAppHeader {
    background-color: rgba(0, 0, 0, 0);
}

.st-ae {
    background-color: rgba(233, 235, 234, 0.895);
}

.st-emotion-cache-ysk9xe {
    color: black;
}

.st.info, .stAlert {
    background-color: black;
}

.st-key-scrape_button button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    animation: pulse 2s infinite;
}

.st-key-scrape_button button:hover {
    background-color: #0056b3;
    color: #fff;
}